<% if flash[:success] %>
	<h4><%=flash[:success]%></h4>
<% end%>

<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
<div id='owner_show'>
<h1 id='newfont'>Hey there, <%=@owner.first_name%></h1>
<div id='navigation'>
</div>
<div id='owner_cont'>
<form id='propose_form' action="/proposals" method="post" >
<input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
<input type="hidden" name = "proposal[owner_id]" value="<%= session[:id] %>">
<p>Description:<input type="text" name="proposal[name]">
Pet:<% @pet.each do |p| %>
<input type="checkbox" name="petid[]" value= "<%= p.id %>"><%=p.name%>
<%end%></p>
<input type="hidden" name="proposal[zip]" value="<%=@owner.zip%>">
<p id='start'>Start Date:<input id ='for_sub'type="date" name="proposal[start_date]"></p>
<p id='end'>End Date:<input id='for_sub' type="date" name="proposal[end_date]"></p>
<p><input id='prop_sub' type="submit" value="Request Proposals Now"></p>

</form>
</div>




<h2>Accepted Proposal By: </h2>
<% @accepted.each do |a| %>
  <p>Sitter Name: <%=a.sitter.first_name%></p>
  <p>Start date: <%=a.proposal.start_date%></p>
  <p>End date: <%=a.proposal.end_date%></p>
	<form action="/jobs" method="post">
		<input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
		<input type='hidden' name ='job[sitter_id]' value="<%=a.sitter.id%>">
		<input type="hidden" name="job[owner_id]" value="<%=@owner.id%>">
		<input type="hidden" name="proposal_id" value="<%=a.proposal.id%>">
		<input type="hidden" name="job[start_date]" value="<%=a.proposal.start_date%>">
		<input type="hidden" name="job[end_date]" value="<%=a.proposal.end_date%>">
	
		<input type="submit" value="Hire">
	</form>
<%end%>





