<h4>Get proposals from available sitters</h4>
<form action="/proposals" method="post" >
<input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
<input type="hidden" name = "proposal[owner_id]" value="<%= session[:id] %>">
<p>Description:<input type="text" name="proposal[name]">
Pet:<% @pet.each do |p| %>
<input type="checkbox" name="petid[]" value= "<%= p.id %>"><%=p.name%>
<%end%></p>
<p>Zip Code:<input type="text" name="proposal[zip]"></p>
<p>Start Date:<input type="date" name="proposal[start_date]"></p>
<p>End Date:<input type="date" name="proposal[end_date]"></p>
<p><input type="submit" value="Request Proposals Now"></p>
</form>




<form action="/jobs/create" method="post">
<input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
<p><%= %></p>
<input type="submit" value="Hire">
</form>


<a href="/profile/addpetpage">Add Pet</a>