<<<<<<< HEAD
<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
<h1 id='newfont'>My Pets</h1>

<h1>My pets</h1>


<table>
<col width="150">
<col width="150">
<col width="80">
<col width="80">

  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Age</th>
      <th>Animal</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= image_tag pet.image_url(:thumb) if pet.image? %></td>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= pet.animal.kind %></td>
        <td><%= link_to 'Show', pet %>
        <%= link_to 'Edit', edit_pet_path(pet) %></td>
       <td><form method="post" action="/pets/<%= pet.id %>"><input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>"><input type='hidden' name='_method' value='delete'><input type="submit" value="Delete"></form></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Pet', new_pet_path %>

<%= link_to 'Add Pet', new_pet_path %>

