<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pet.image_url(:thumb) if @pet.image? %>
</p>


<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @pet.animal.kind %>
</p>

