<body>
<h1 id='newfont' style="margin-left:25px;">Hi, <%=@sitter.first_name%>!</h1>
<h3 style="margin-left:25px;">Edit your profile below</h3>
<form id='sitter_edit_form' action="/sitters/<%=@sitter.id%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="_method" value="patch">
  <div class='edit_form_input_two'><label for="first_name">First Name: </label>
  <input type="text" id='first_name' name="first_name" value="<%=@sitter.first_name%>"></div>
  <div class='edit_form_input_two'><label for="last_name">Last Name: </label>
  <input type="text" id='last_name' name="last_name" value="<%=@sitter.last_name%>"></div>
  <div class='edit_form_input_two'><label for="phone">Phone Number: </label>
  <input type="text" id='phone' name="phone" value="<%=@sitter.phone%>"></div>
  <div class='edit_form_input_two'><label for="address">Address: </label>
  <input type="text" id='address' name="address" value="<%=@sitter.address%>"></div>
  <div class='edit_form_input_two'><label for="city">City: </label>
  <input type="text" id='city' name="city" value="<%=@sitter.city%>"></div>
  <div class='edit_form_input_two'><label for="zip">Zip Code: </label>
  <input type="text" id='zip' name="zip" value="<%=@sitter.zip%>"></div>
  <div class='edit_form_input_two'><label for="email">Email: </label>
  <input type="text" id='email' name="email" value="<%=@sitter.email%>"></div>

  <p>I am available during the following dates:</p>
  <div class='edit_form_input_two'>Start: <input type="date" name="start_date">
  End: <input type="date" name="end_date"></div>
  <div class='edit_form_input_two'><label for="password">Password: </label>
  <input type="password" id='password' name="password"></div>
   <div class='edit_form_input_two'><label for="password_confirmation">Confirm Password: </label>
  <input type="password" id='password_confirmation' name="password_confirmation"></div>
  <p>I am willing to take care of the following pets:</p>
    <p><% @animals.each do |a| %>
    <input type='checkbox' name='sitter_preference' value="<%=a.id%>"><%=a.kind%>&nbsp;&nbsp;
    <%end%></p>
  <input id ='signsub' type="submit" value="Update Preferences">
</form>
<br>

<form action="/sitters/<%=@sitter.id%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="_method" value="delete">
  <input id='delete_btn_sitter' type="submit" value="Delete Account">
</form>

<img id='edit_pet' src='/pets1.jpg'>
<!--<div>
<a id ='back_sub_two' href="/sitters/<%= session[:sitter_id]%>">Go Back</a>
</div>-->
</body>