<h1 id='newfont'>Welcome, <%=@sitter.first_name %></h1>
<% session[:sitter_id] %>

<h3>Sitter Requests near you: </h3>

<% @proposals.each do |p| %>
	<%@check_dist=Geocoder::Calculations.distance_between(Geocoder.coordinates(p.zip.to_i), Geocoder.coordinates(@zip_sitter.to_i))%>
	<% if (@check_dist<25)%>
		<p>Job Details: <%=p.name%></p>
		<p>Pet Owner: <%=p.owner.first_name%></p>
		<p>Address: <%=p.owner.address%></p>
		<p>City: <%=p.owner.city%></p>
		<p>Zip Code: <%= p.zip%></p>

		<form action="/acceptances" method="post">
		  <input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
		  <input type="hidden" name="proposal_id" value="<%= p.id%>">
		  <input type="hidden" name="owner_id" value="<%= p.owner_id%>">
		  <input type="submit" name="accept_proposal" value="Accept">
		</form>
		<br>
	<%end%>

<%end%>

<a href="/sitters/<%=session[:sitter_id]%>/edit">Edit</a>
