<h1>Welcome, <%=@sitter.first_name %></h1>
<% session[:sitter_id] %>


<h3>Propoals</h3>

<% @proposals.each do |p| %>
<p>Job Details: <%=p.name%></p>
<%= p.id%>
  <form action="/acceptance/<%= session[:sitter_id] %>/create" method="post">
    <input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
    <input type="hidden" name="proposal_id" value="<%= p.id%>">
    <input type="submit" name="accept_proposal" value="Accept">
  </form>
  
  <form action="/jobs" method="post">
      <input type="submit" name="decline_proposal" value="Ignore">
  </form>
  <br>
<%end%>

<a href="/sitters/<%=session[:sitter_id]%>/edit">Edit</a>

