<div id='sitter_show'>

<h1 id='newfont'>Welcome, <%=@sitter.first_name %></h1>
<% session[:sitter_id] %>
<div id='propose_form_two'>
<h3 id='prop_head'>Sitter Requests near you </h3>
<% @proposals.each do |p| %>
	<%@check_dist=Geocoder::Calculations.distance_between(Geocoder.coordinates(p.zip.to_i), Geocoder.coordinates(@zip_sitter.to_i))%>
	<% if (@check_dist<25)%>
	<table>
  	<thead>
    <tr>
		<th>Job Details</th>
		<th>Pet Owner</th>
		<th>Address</th>
		<th>City</th>
		<th>Zip Code</th>
		<th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
  	<td><%=p.name%></td>
  	<td><%=p.owner.first_name%></td>
  	<td> <%=p.owner.address%></td>
  	<td><%=p.owner.city%></td>
  	<td><%= p.zip%></td>
  
		<td><form action="/acceptances" method="post">
		  <input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
		  <input type="hidden" name="proposal_id" value="<%= p.id%>">
		  <input type="hidden" name="owner_id" value="<%= p.owner_id%>">
		  <input id='acc_sub' type="submit" name="accept_proposal" value="Accept">
		</form>
		</td>
		<br>

	<%end%>
	</tr>

<%end%>
</div>

</div>
