<div id='sitter_show'>

<h1 id='newfont'>Welcome, <%=@sitter.first_name %></h1>
<% session[:sitter_id] %>

<div id='propose_form_two'>
	<h3 id='prop_head'>Sitter Requests near you </h3>

	<% @proposals.each do |p| %>
		<%if not Acceptance.where(proposal_id: p.id.to_i, sitter_id: session[:sitter_id])[0] %>

		<%@check_dist=Geocoder::Calculations.distance_between(Geocoder.coordinates(p.zip.to_i), Geocoder.coordinates(@zip_sitter.to_i))%>
		<% if (@check_dist<25)%>
		<table>
		  	<thead>
		    	<tr>
					<th>Job Details</th>
					<th>Pet Owner</th>
					<th>Address</th>
					<th>City</th>
					<th>Zip Code</th>
					<th></th>
				</tr>
			</thead>
  			<tbody>
			  <tr>
			  	<td><%=p.name%></td>
			  	<td><%=p.owner.first_name%></td>
			  	<td> <%=p.owner.address%></td>
			  	<td><%=p.owner.city%></td>
			  	<td><%= p.zip%></td>
				<td>
					<form action="/acceptances" method="post">
				  		<input type='hidden' name ='authenticity_token' value="<%=form_authenticity_token%>">
					  	<input type="hidden" name="proposal_id" value="<%= p.id%>">
					  	<input type="hidden" name="owner_id" value="<%= p.owner_id%>">
					  	<input id='acc_sub' type="submit" name="accept_proposal" value="Accept">
					</form>
				</td>
			  </tr>
			</tbody>
		<%end%>
	<%end%>
<%end%>
</table>
</div>
<br>

<div id='propose_form_two'>
<h3 id='prop_head'>Bids</h3>
	<br>
<table>
<thead>
<tr>
	<th>Job Details</th>
	<th>Pet Owner</th>
	<th>Address</th>
	<th>City</th>
</tr>
</thead>
<tbody>
<%@accepted.each do |a|%>
	<tr>
	<td><%=a.proposal.name%></td>
	<td><%=a.owner.first_name%></td>
	<td><%=a.owner.address%></td>
	<td><%=a.owner.city%></td>
	</tr>
</tbody>
<%end%>

</table>
</div>
<br>

<div id='propose_form_two'>
<h3 id='prop_head'>ACTIVE JOBS </h3>
<table>
<thead>
<tr>
<th>ID</th>
<th>Owner Rating</th>
<th>Start Date</th>
<th>End Date</th>
</tr>
<thead>
<tbody>
<% @jobs.each do |p| %>
	<tr>
	<td><%= p.id %></td>
	<td><%= p.owner_rating %></td>
	<td><%= p.start_date %></td>
	<td><%= p.end_date %></td>
	</tr>
</tbody>
<%end%>
</table>
</div>
